<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample-template</title>
    <link rel="stylesheet" href="task1.css">
</head>
<body>
    <div class="fullcontainer">
        <div class="container">
            <img src="image/logo.png" alt="logo" class="logo">
           <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Collection</a></li>
                    <li><a href="">Category</a></li>
                </ul>
           </nav>
            <img src="image/cart.png" alt="cart" class="cart"> 
        </div>
        <div class="middle">
            <button class="btn">2020 Collections</button>
            <h1>
                You should always <br> fell pretty
            </h1>
            <h4>
                Cothes that are to heat up your winter.
            </h4>
            <div class="arrow">
                <img src="image/back-arrow.png" alt="back-arrow">
                <img src="image/next-arrow.png" alt="next-arrow">
            </div>
            <img src="image/img.png" alt="img" class="poster">
        </div>
        <div class="links">
            <a href="">FACEBOOK</a>
            <a href="">INSTRAGRAM</a>
            <a href="">TWITTER</a>
        </div>
    </div>
</body>
</html>